<% if logged_in? %>
  <p> ログイン完了ユーザ： <%= current_user.name %></p>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @post, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
<header class="header">
  <div class="header__heading">
    <div class="header__heading__line">好みの日本酒を探せるサイト</div>
  </div>
    <div class="header__contents">
      <a class="header__logo" href="/">Sake_load</a>
        <div class="header__nav">
          <a class="header__nav__item" href="/search"><i class="fa fa-search"></i></a>
          <a class="header__nav__item btn" href="/login">はじめる</a>
        </div>
    </div>
  </div>
</header>
  <main id="container">
    <div class="main-visual">お気に入りの<span>日本酒</span>を、みつけよう。</div>
      <div class="contents pt-40"></div>
        <div class="form"></div>
         <div class="form__title text-left">検索</div>
  </main>
<% end %>
